#nav-bar {

  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  float: left;
  z-index: 7;

}

#nav-bar .logo {

  height: 80px;
  width: 80px;
  float: left;

}

#nav-bar .header {

  float: left;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 2em;

}

#nav-bar .compose {

  float: right;
  margin: 14px;
  background-color: #fff;
  color: #00a087;
  width: 118px;
  height: 52px;
  border-radius: 5px;
  border: 1px solid;
  border-color: black;
  font-size: 20px;
  opacity: 0.9;
}

#nav-bar .compose:hover{
  opacity: 1;
}

#nav-bar .compose:focus {
  color: black;
  outline: 0;
  opacity: 1;

}
